name: hello the gioi
on:
  push:
    branches: [main]
jobs:
  build: 
    runs-on: ubuntu-latest
    steps:
      - run: echo "TODAY=$(date+%y-%m-%d)" >> &GITHUB_ENV
      - run: ehco "HELLO WORLD , HOM NAY LA NGAY $TODAY"
